/* quick css reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background: #222;
  padding: 0 15px;
}

/* react-router-dom Link = a */
a {
  color: white;
  text-decoration: none;
}

.fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  list-style-type: none;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  padding: 7.5px 10px 7.5px 0;
  flex: 1;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

/* items that are not buttons and their pseudos get this styling: */
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* Mobile Menu */ 
/* maybe put .menu all together? */
.menu {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

/* order property sets flex item order */

.item.button {
  width: auto;
  order: 1;
  display: block;
}

.menu-toggle {
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
  color: white;
  order: 2; 
}

.btn-label {
  display: none;
}

.item.button a {
  color: pink;
  display: flex;
  gap: 10px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  
}

.active .item {
  display: block;
}

/* Tablet Menu */
/* @media all and (min-width: 700px) {} */

/* Large Menu */
@media all and (min-width: 1200px) {
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .button {
    order: 2;
  }

  .btn-label {
    display: inline-block;
  }

  .menu-toggle {
    display: none;
  }
}