/* quick css reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background: #222;
  padding: 0 15px;
}

/* react-router-dom Link = a */
a {
  color: white;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.logo {
  font-size: 1.5rem;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

/* items that are not buttons and their pseudos get this styling: */
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* Mobile Menu */ 
/* maybe put .menu all together? */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

/* order property sets flex item order */
.menu-toggle {
  order: 1;
  font-size: 1.5rem;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-emphasis: center;
  display: none;
}

/* .item .active {
  display: block;
}

.menu-toggle .active {
  display: block;
} */

.active {
  display: block;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}