.site-navbar {
  /* background: #fff; */
  background: grey;
  /* margin-bottom: 0px; */
  z-index: 1999;
  /* position: relative; */
  width: 100vw;
  margin: 0 auto;
}

.top-nav {
  border-bottom: 1px solid #f3f3f4;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-bottom: 0px; */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top-nav-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-col {
  text-align: left;
}

.top-search {
  position: relative;
  display: block;
  margin-top: 0em;
}
.top-search .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.top-search input {
  padding-left: 40px;
  transition: .3s all ease-in-out;
}
.top-search input:focus, .top-search input:active {
  padding-left: 25px;
}

.brand-col {
  text-align: center;
}

.site-brand {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  /* border: 2px solid black; */
  font-size: 1.5rem;
  
}

.brand-logo {
  text-decoration: none;
  border: 2px solid black;
  padding-right: 10px;
  padding-left: 10px;
}
.icon-links-col {
  /* text-align: right; */
  
  /* position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; */
}

.top-nav-icons {
  /* display: block; */
  text-align: right;
  margin-right: 1rem;
}

.top-nav-icons ul, .top-nav-icons ul li {
  /* padding: 0; */
  /* margin: 0; */
  list-style: none;
  /* color: teal */
}

.top-nav-icons ul li {
  display: inline-block;
}

.top-nav-icons ul li a {
  margin-right: 20px;
}


@media (min-width: 768px) {
  .top-nav {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .search-col {
    order: 1;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .brand-col {
    order: 2;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .icon-links-col {
    order: 3;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .icon-links-col .d-none {
    display: none;
  }
}


@media (min-width: 992px) {
  .container {
    /* max-width: 960px; */
  }
}